<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52548129313-9lg99rkr2f4vq9upp6mk8ejtgl4gt0u6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52548129313-9lg99rkr2f4vq9upp6mk8ejtgl4gt0u6</string>
	<key>API_KEY</key>
	<string>AIzaSyC7TCEsoLCB9znMXGMUNDGZcRVvfFGtToc</string>
	<key>GCM_SENDER_ID</key>
	<string>52548129313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.estanpol.asmin</string>
	<key>PROJECT_ID</key>
	<string>falasmin</string>
	<key>STORAGE_BUCKET</key>
	<string>falasmin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52548129313:ios:469e43041b015ad69d0960</string>
</dict>
</plist>